@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');


body {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/home/s7meru/bar-halla/my-app/src/Components/Assets/backgd_for_reg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.wrapper{
    width: 565px;
    height: 286px;
    background-color: rgba(131, 53, 245, 0.6);
    color: rgba(0, 0, 0, 0.4);
    border: solid 1px #eaeaea;
    min-height: 10vh;
} 
.wrapper h1 {
    font-size: 32px;
    text-align:center;
    color: #eaeaea;
    position: relative;
    top: -90%;
}
.wrapper .input-box {
    position: relative;
    left: 30px;
    width: 500px;
    height: 52px;
    background: rgba(254, 254, 255, 0.4);
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: solid 1px #ffffff;
    outline: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
    padding: 20px 20px 20px 20px;
    letter-spacing: 10%;
    font-weight: lighter;
}
.input-box input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}
.wrapper .check-account {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: -5px 30px 15px;
    letter-spacing: 10%;
}
.check-account a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;

}
.wrapper button {
    width: 236.32px;
    height: 86px;
    position: relative;
    left: 165px;
    top: 50px;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    background-color: rgba(80, 210, 132, 0.6);
    border: solid 1px #eaeaea;
    letter-spacing: 15%;
    font-weight: bolder;
}
.rectangle {
    
}