@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
